@import url('https://fonts.googleapis.com/css?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.img-menu {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.title-menu {
    text-align: center;
}
.title-menu a {
    font-size: 34px;
    font-family: 'Anton', sans-serif;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.title-menu a:hover {
    color: #d5603f;
}

iframe {
    display: flex;
    width: 100%;
    height: 100vh;
}

.header-menu {
    background: black;
    border-bottom: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left-pad {
    width: 12%;
}
.right-pad {
    width: 88%;
}

.sec-main {
    flex-wrap: wrap;
    border-left: 1px white solid;
    background-repeat: no-repeat;
}

.sec-main img {
    width: 200px;
    height: 200px;
    background-image: url(../img/NBA-logo-png-download-free.png);
    background-repeat: no-repeat;
}
.sec-main > section,
.sec-main > .sec-simulate-section {
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-family: 'Cabin', sans-serif;
    transition: width 2s, height 2s, margin 2s;
    margin: 40px auto 0;
}
.sec-footer {
    display: flex;
    background: black;
    font-size: 29px;
    padding: 13px 0px;
    color: white;
    justify-content: center;
}

.footerInSection {
    font-size: 11 px;
    color: dimgrey;
}

.content {
    display: flex;
    font-family: 'Anton', sans-serif;
}

.sec-pelotas {
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-pelotas img {
    width: 300px;
    height: 300px;
}
.sec-pelotas article {
    margin-left: 45%;
}
.sec-pelotas h2 {
    font-family: 'Anton', sans-serif;
    margin-left: 50%;
    font-size: 40px;
}

article {
    font-family: 'Anton', sans-serif;
    cursor: pointer;
}

textarea {
    resize: vertical;
    margin-left: 0;
    max-height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
input {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
input:hover {
    border-color: #7d7c7c;
}
input:focus {
    border-color: #a09d9d;
    border-top: none;
    border-left: none;
    border-right: none;
}

.checkgroup {
    display: inline-flex;
    position: relative;
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkgroup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkgroup:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkgroup input:checked ~ .checkmark {
    background-color: #2196f3;
}
.checkgroup input:checked ~ .checkmark:after {
    display: block;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.checkgroup .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

select {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    height: 50px;
    width: -webkit-fill-available;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
}
option {
    text-align: center;
}
button {
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
}

.invalido {
    border-color: #fa5252;
    padding-right: calc(1.5em + 1.2rem);
}

label {
    margin-top: 20px;
    display: block;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

.tituloForm {
    background-color: royalblue;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin: auto;
    padding: 30px;
}


#form {
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#form div {
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 2%;
}

#form input[type='date'] {
    background-color: white;
}
