@import url('https://fonts.googleapis.com/css?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

input {
    border-color: #a09d9d;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    padding: 10px;
    margin: 10px;
}

input:hover {
    border-color: #7d7c7c;
}

input:focus {
    border-color: #a09d9d;
    border-top: none;
    border-left: none;
    border-right: none;
}

.img-menu {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.title-menu {
    font-size: 34px;
    width: max-content;
    color: white;
    flex-grow: 8;
    line-height: 75px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.title-menu:hover {
    color: #d5603f;
}

.header-menu {
    background: black;
    border-bottom: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left-pad {
    width: 12%;
}

.right-pad {
    width: 88%;
}

.cat-menu {
    background-image: linear-gradient(to right, #040404, #1a386d);
    border-right: 2px solid white;
}

.cat-menu:hover {
    border-right: 2px solid #656363;
    cursor: pointer;
}

.cat-menu h3 {
    color: white;
    font-size: 20px;
    margin-left: 13px;
    font-family: 'Markazi Text', serif;
}

.cat-menu li {
    margin-top: 10px;
}
.cat-menu a {
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
    font-family: Verdana;
}
.cat-menu a:hover {
    border-bottom: 1px solid;
    color: #d5603f;
}
.cat-menu a:hover {
    text-decoration: none;
    color: #d5603f;
    margin-left: 3px;
}

.sec-main {
    flex-wrap: wrap;
    border-left: 1px white solid;
    /* background-image: url(../img/NBA-logo-png-download-free.png); */
    background-repeat: no-repeat;
}

.sec-main img {
    width: 200px;
    height: 200px;
}

.sec-main > section {
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-family: 'Cabin', sans-serif;
}

.footerInSection {
    font-size: 11 px;
    color: dimgrey;
}

.sec-footer {
    display: flex;
    background: black;
    width: 100%;
    font-size: 29px;
    padding: 13px;
    color: white;
    justify-content: center;
}

.content {
    display: flex;
    font-family: 'Anton', sans-serif;
}

.sec-pelotas {
    background-image: url(../img/fondo-accesorios-baloncesto-dibujados-mano_23-2147610420.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-pelotas img {
    width: 300px;
    height: 300px;
}

article {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.sec-pelotas h2 {
    font-family: 'Anton', sans-serif;
    margin-left: 50%;
    font-size: 40px;
}
