input {
	border-color: #a09d9d;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
	padding: 10px;
	margin: 10px;
}

input:hover {
	border-color: #7d7c7c;
}
	
input:focus {
	border-color: #a09d9d;
    border-top: none;
    border-left: none;
    border-right: none;
}

.img-menu {
	width: 100%;
    height: 100%;
    flex-grow: 1;
}

.title-menu  {
    font-size: 34px;
    width: max-content;
    float: right;
    margin-right: 50%;
    color: white;
    flex-grow: 8;
    line-height: 75px;
    cursor: pointer;
    text-decoration: none;
}

.title-menu:hover{
    color: #d5603f;
}

.header-menu {
    background: black;    
    border-bottom: 1px solid white;
    display: flex;
    flex-wrap: wrap;
}

.left-pad {
    width: 12%;
}

.right-pad {
    width: 88%;
}

.cat-menu {
    background-image: linear-gradient(to right, #040404 , #1a386d);
    border-right: 2px solid white;
}

.cat-menu:hover {
    border-right: 2px solid #656363;
    cursor: pointer;
}

.cat-menu h3{
    color: white;
    margin-left: 13px;
}

.cat-menu li{
    margin-top: 10px;
}
.cat-menu a{
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
    font-family: Verdana;
}
.cat-menu a:hover {
    border-bottom: 1px solid;
    color: #d5603f;
}
.cat-menu a:hover{
    text-decoration: none;
    color: #d5603f;
    margin-left: 3px;
}

.sec-main {
    flex-wrap: wrap;
    border-left: 1px white solid;
}
      
.sec-main > section {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.sec-footer {
    display: flex;
    background: black;
    width: 100%;
    font-size: 29px;
    padding: 13px;
    color: white;
    justify-content: center;
}

.content {
    display: flex;
}